:root {
  --alphaBlurple40015: rgba(130, 156, 248, 0.149);
  --alphaBlurple40020: rgba(130, 156, 248, 0.2);
  --alphaBlurple40027: rgba(130, 156, 248, 0.271);
  --alphaBlurple60013: rgba(59, 94, 218, 0.129);
  --alphaBlurple60020: rgba(59, 94, 218, 0.2);
  --alphaBlurple80016: rgba(44, 57, 106, 0.161);
  --alphaBlurple8006: rgba(44, 57, 106, 0.059);
  --alphaNeutral50012: rgba(110, 122, 136, 0.122);
  --alphaNeutral50016: rgba(110, 122, 136, 0.161);
  --alphaNeutral50018: rgba(110, 122, 136, 0.18);
  --alphaNeutral50020: rgba(110, 122, 136, 0.2);
  --alphaNeutral50024: rgba(110, 122, 136, 0.239);
  --alphaNeutral50030: rgba(110, 122, 136, 0.302);
  --alphaNeutral50032: rgba(110, 122, 136, 0.322);
  --alphaNeutral50036: rgba(110, 122, 136, 0.302);
  --alphaNeutral50070: rgba(110, 122, 136, 0.698);
  --alphaNeutral5008: rgba(110, 122, 136, 0.078);
  --alphaNeutral70060: rgba(34, 50, 67, 0.6);
  --alphaSPBlurple40015: rgba(117, 131, 255, 0.149);
  --alphaSPBlurple40020: rgba(117, 131, 255, 0.2);
  --alphaSPBlurple40027: rgba(117, 131, 255, 0.271);
  --alphaSPBlurple50013: rgba(84, 91, 254, 0.129);
  --alphaSPBlurple50020: rgba(84, 91, 254, 0.2);
  --alphaSPBlurple50024: rgba(84, 91, 254, 0.239);
  --alphaSPBlurple80016: rgba(41, 44, 108, 0.161);
  --alphaSPBlurple8006: rgba(41, 44, 108, 0.059);
  --alphaSPCoolGrey40012: rgba(114, 116, 132, 0.122);
  --alphaSPCoolGrey40016: rgba(114, 116, 132, 0.161);
  --alphaSPCoolGrey40018: rgba(114, 116, 132, 0.18);
  --alphaSPCoolGrey40020: rgba(114, 116, 132, 0.2);
  --alphaSPCoolGrey40024: rgba(114, 116, 132, 0.239);
  --alphaSPCoolGrey40030: rgba(114, 116, 132, 0.302);
  --alphaSPCoolGrey40032: rgba(114, 116, 132, 0.322);
  --alphaSPCoolGrey40036: rgba(114, 116, 132, 0.361);
  --alphaSPCoolGrey40070: rgba(110, 115, 136, 0.698);
  --alphaSPCoolGrey4008: rgba(114, 116, 132, 0.078);
  --alphaSPCoolGrey60050: rgba(60, 62, 83, 0.502);
  --alphaSPCoolGrey60060: rgba(60, 62, 83, 0.6);
  --alphaSPCoolGrey60080: rgba(60, 62, 83, 0.8);
  --alphaSPCoolGrey70030: rgba(48, 50, 71, 0.302);
  --alphaSPCoolGrey70044: rgba(48, 50, 71, 0.439);
  --alphaSPWarmGrey40012: rgba(192, 190, 187, 0.122);
  --alphaSPWarmGrey40016: rgba(192, 190, 187, 0.161);
  --alphaSPWarmGrey40018: rgba(192, 190, 187, 0.18);
  --alphaSPWarmGrey40020: rgba(192, 190, 187, 0.2);
  --alphaSPWarmGrey40024: rgba(192, 190, 187, 0.239);
  --alphaSPWarmGrey40030: rgba(192, 190, 187, 0.302);
  --alphaSPWarmGrey40032: rgba(192, 190, 187, 0.322);
  --alphaSPWarmGrey40036: rgba(192, 190, 187, 0.361);
  --alphaSPWarmGrey40070: rgba(183, 183, 181, 0.698);
  --alphaSPWarmGrey4008: rgba(192, 190, 187, 0.078);
  --alphaSPWarmGrey60010: rgba(164, 162, 160, 0.102);
  --alphaSPWarmGrey60014: rgba(164, 162, 160, 0.141);
  --alphaSPWarmGrey60017: rgba(164, 162, 160, 0.169);
  --alphaSPWarmGrey60023: rgba(164, 162, 160, 0.231);
  --alphaSPWarmGrey60060: rgba(164, 162, 160, 0.6);
  --brandBlurple100: #ecf0fe;
  --brandBlurple200: #d8e0fd;
  --brandBlurple300: #acbdfb;
  --brandBlurple400: #829cf8;
  --brandBlurple500: #587bf6;
  --brandBlurple600: #3b5eda;
  --brandBlurple700: #374d9b;
  --brandBlurple800: #2c396a;
  --brandBlurple900: #19223c;
  --brandDandelion100: #fef9ed;
  --brandDandelion200: #fdf1c6;
  --brandDandelion300: #fbe48e;
  --brandDandelion400: #f8d655;
  --brandDandelion500: #f6c91d;
  --brandDandelion600: #daac00;
  --brandDandelion700: #a38100;
  --brandDandelion800: #6d5600;
  --brandDandelion900: #362c05;
  --brandNeutral1000: #04070b;
  --brandNeutral100: #fff;
  --brandNeutral200: #edf1f5;
  --brandNeutral300: #d2d8de;
  --brandNeutral400: #a5adb6;
  --brandNeutral500: #6e7a88;
  --brandNeutral600: #405163;
  --brandNeutral700: #223243;
  --brandNeutral750: #1a2837;
  --brandNeutral800: #14212f;
  --brandNeutral900: #0c1722;
  --brandSPBlurple1000: #121330;
  --brandSPBlurple100: #f1f1ff;
  --brandSPBlurple200: #d4d5ff;
  --brandSPBlurple300: #a3acff;
  --brandSPBlurple400: #7583ff;
  --brandSPBlurple500: #545bfe;
  --brandSPBlurple600: #464cd1;
  --brandSPBlurple700: #383ca3;
  --brandSPBlurple800: #292c6c;
  --brandSPBlurple850: #1c1f58;
  --brandSPBlurple900: #1b1d48;
  --brandSPCoolGrey1000: #0c0d22;
  --brandSPCoolGrey100: #ededf5;
  --brandSPCoolGrey200: #c4c5cf;
  --brandSPCoolGrey300: #9b9caa;
  --brandSPCoolGrey400: #727484;
  --brandSPCoolGrey500: #56596c;
  --brandSPCoolGrey600: #3c3e53;
  --brandSPCoolGrey700: #303247;
  --brandSPCoolGrey800: #262840;
  --brandSPCoolGrey900: #171930;
  --brandSPCoolGrey950: #111228;
  --brandSPDandelion100: #fef9ed;
  --brandSPDandelion150: #fdf3d2;
  --brandSPDandelion200: #fdf1c6;
  --brandSPDandelion300: #fbe48e;
  --brandSPDandelion400: #f8d655;
  --brandSPDandelion500: #f6c91d;
  --brandSPDandelion50: #fffdf8;
  --brandSPDandelion600: #daac00;
  --brandSPDandelion700: #a38100;
  --brandSPDandelion800: #6d5600;
  --brandSPDandelion900: #362c05;
  --brandSPFirefly100: #f1fbe9;
  --brandSPFirefly200: #dffac4;
  --brandSPFirefly300: #c2f680;
  --brandSPFirefly400: #aee865;
  --brandSPFirefly500: #93d53e;
  --brandSPFirefly600: #77ba21;
  --brandSPFirefly700: #508316;
  --brandSPFirefly800: #346011;
  --brandSPFirefly900: #1d300d;
  --brandSPMeadow100: #edfaf4;
  --brandSPMeadow200: #bbf6dd;
  --brandSPMeadow300: #6be9b8;
  --brandSPMeadow400: #41d298;
  --brandSPMeadow500: #02bc79;
  --brandSPMeadow600: #029864;
  --brandSPMeadow700: #01744e;
  --brandSPMeadow800: #014f39;
  --brandSPMeadow900: #002b23;
  --brandSPMulberry100: #feedeb;
  --brandSPMulberry200: #fdd7d3;
  --brandSPMulberry300: #faada5;
  --brandSPMulberry400: #e48585;
  --brandSPMulberry500: #ce5e66;
  --brandSPMulberry600: #bf2e3b;
  --brandSPMulberry700: #912333;
  --brandSPMulberry800: #6a1020;
  --brandSPMulberry900: #4c0814;
  --brandSPWarmGrey1000: #191818;
  --brandSPWarmGrey100: #f8f6f2;
  --brandSPWarmGrey200: #edebe7;
  --brandSPWarmGrey300: #dcdad6;
  --brandSPWarmGrey400: #c0bebb;
  --brandSPWarmGrey500: #a4a2a0;
  --brandSPWarmGrey600: #a4a2a0;
  --brandSPWarmGrey700: #676564;
  --brandSPWarmGrey800: #514f4e;
  --brandSPWarmGrey900: #3b3939;
  --brandSlime100: #f1fbe9;
  --brandSlime200: #e0f7cf;
  --brandSlime300: #c1ee9f;
  --brandSlime400: #a2e66e;
  --brandSlime500: #84dd3e;
  --brandSlime600: #67c122;
  --brandSlime700: #4d9119;
  --brandSlime800: #346011;
  --brandSlime900: #1d300d;
  --brandSunset100: #feedeb;
  --brandSunset200: #fdd7d3;
  --brandSunset300: #faada5;
  --brandSunset400: #f77f73;
  --brandSunset500: #fc6350;
  --brandSunset600: #c72c1e;
  --brandSunset700: #962116;
  --brandSunset800: #68170f;
  --brandSunset900: #3c0d09;
  --utilityBlack100: #000;
  --utilityBlack10: rgba(0, 0, 0, 0.102);
  --utilityBlack12: rgba(0, 0, 0, 0.122);
  --utilityBlack15: rgba(0, 0, 0, 0.149);
  --utilityBlack33: rgba(0, 0, 0, 0.329);
  --utilityBlack4: rgba(0, 0, 0, 0.039);
  --utilityBlack5: rgba(0, 0, 0, 0.051);
  --utilityBlack66: rgba(0, 0, 0, 0.659);
  --utilityBlackTransparent: rgba(0, 0, 0, 0);
  --utilityMxWidgetBackgroundDark: #121417;
  --utilityMxWidgetBackgroundLight: #f8f9fb;
  --utilitySystemBlue100: #64d2ff;
  --utilitySystemBlue200: #5ac8fa;
  --utilitySystemGreen100: #32d74b;
  --utilitySystemGreen200: #34c759;
  --utilitySystemOrange100: #ff9f0a;
  --utilitySystemOrange200: #ff9500;
  --utilitySystemPurple100: #bf5af2;
  --utilitySystemPurple200: #af52de;
  --utilitySystemRed100: #ff453a;
  --utilitySystemRed200: #ff3b30;
  --utilitySystemYellow100: #ffd60a;
  --utilitySystemYellow200: #fc0;
  --utilityTransparentGray100: rgba(235, 235, 245, 0.651);
  --utilityTransparentGray200: rgba(60, 60, 67, 0.361);
  --utilityTransparentGray300: rgba(84, 84, 88, 0.651);
  --utilityTransparentGray400: rgba(60, 60, 67, 0.6);
  --utilityTransparentGray500: rgba(60, 60, 67, 0.549);
  --utilityTransparentGray50: rgba(118, 118, 128, 0.239);
  --utilityWhite100: #fff;
  --utilityWhite10: rgba(255, 255, 255, 0.102);
  --utilityWhite15: rgba(255, 255, 255, 0.149);
  --utilityWhite20: rgba(255, 255, 255, 0.2);
  --utilityWhite30: rgba(255, 255, 255, 0.302);
  --utilityWhite35: rgba(255, 255, 255, 0.349);
  --utilityWhite60: rgba(255, 255, 255, 0.6);
  --utilityWhite70: rgba(255, 255, 255, 0.698);
  --utilityWhite80: rgba(255, 255, 255, 0.8);
  --utilityWhite8: rgba(255, 255, 255, 0.078);
  --accountwidgetMxWidgetBackground: #f8f9fb;
  --actionPrimary: #3b5eda;
  --actionPrimaryActive: #374d9b;
  --actionPrimaryDisabled: #acbdfb;
  --actionSecondary: #405163;
  --actionSecondaryActive: #223243;
  --actionSecondaryBorder: #d2d8de;
  --actionSecondaryDisabled: #a5adb6;
  --actionTertiary: #374d9b;
  --actionTertiaryActive: #2c396a;
  --actionbarBackground: #19223c;
  --actionbarButtonBackground: #19223c;
  --backgroundDarkPrimary: #1a2837;
  --backgroundDarkSecondary: rgba(255, 255, 255, 0.149);
  --backgroundDarkTertiary: rgba(255, 255, 255, 0.2);
  --backgroundGroupedPrimary: #edf1f5;
  --backgroundGroupedSecondary: #fff;
  --backgroundGroupedTertiary: #edf1f5;
  --backgroundPrimary: #fff;
  --backgroundPrimaryElevated: #fff;
  --backgroundSecondary: #edf1f5;
  --backgroundSecondaryElevated: #edf1f5;
  --backgroundTableHeader: #edf1f5;
  --backgroundTableRow: #fff;
  --backgroundTableRowSelected: #d8e0fd;
  --backgroundTertiary: #d2d8de;
  --backgroundTertiaryElevated: #d2d8de;
  --budgetBarBackground: #edf1f5;
  --budgetBarBackgroundOnNonWhite: #fff;
  --budgetBarBorder: #d2d8de;
  --budgetBarEmpty: #fff;
  --budgetBarFunded: #67c122;
  --budgetBarFundedSpending: #a2e66e;
  --budgetBarFundedSpendingStripe: #f1fbe9;
  --budgetBarOverspending: #c72c1e;
  --budgetBarOverspendingStripe: #fdd7d3;
  --budgetBarPreviouslyAssigned: #6e7a88;
  --budgetBarUnderfunded: #f6c91d;
  --budgetBarUnderfundedSpending: #fbe48e;
  --budgetBarUnderfundedSpendingStripe: #fef9ed;
  --buttonDestructiveBackground: #feedeb;
  --buttonDestructiveBackgroundActive: #c72c1e;
  --buttonDestructiveLabel: #c72c1e;
  --buttonEmphasizedBackground: #4d9119;
  --buttonEmphasizedBackgroundActive: #67c122;
  --buttonEmphasizedBackgroundDisabled: #d2d8de;
  --buttonPrimaryBackground: #3b5eda;
  --buttonPrimaryBackgroundActive: #374d9b;
  --buttonPrimaryBackgroundDisabled: #d2d8de;
  --buttonSecondaryBackground: rgba(59, 94, 218, 0.129);
  --buttonSecondaryBackgroundActive: rgba(59, 94, 218, 0.2);
  --buttonSecondaryLabel: #3b5eda;
  --buttonTertiaryBackground: #edf1f5;
  --buttonTertiaryBackgroundActive: #d2d8de;
  --calloutNegativeAccent: #c72c1e;
  --calloutNegativeButtonBackground: #c72c1e;
  --calloutNegativeButtonBackgroundActive: #962116;
  --calloutNegativeButtonForeground: #feedeb;
  --calloutNegativeLabel: #3c0d09;
  --calloutNegativeProminentBackground: #faada5;
  --calloutNegativeProminentBackgroundEmphasis: #f77f73;
  --calloutNegativeSubtleBackground: #feedeb;
  --calloutNegativeSubtleBackgroundEmphasis: #faada5;
  --calloutPositiveAccent: #67c122;
  --calloutPositiveButtonBackground: #4d9119;
  --calloutPositiveButtonBackgroundActive: #346011;
  --calloutPositiveButtonForeground: #f1fbe9;
  --calloutPositiveLabel: #1d300d;
  --calloutPositiveProminentBackground: #c1ee9f;
  --calloutPositiveProminentBackgroundEmphasis: #84dd3e;
  --calloutPositiveSubtleBackground: #f1fbe9;
  --calloutPositiveSubtleBackgroundEmphasis: #c1ee9f;
  --calloutPrimaryAccent: #3b5eda;
  --calloutPrimaryButtonBackground: #3b5eda;
  --calloutPrimaryButtonBackgroundActive: #374d9b;
  --calloutPrimaryButtonForeground: #ecf0fe;
  --calloutPrimaryLabel: #19223c;
  --calloutPrimaryProminentBackground: #d8e0fd;
  --calloutPrimaryProminentBackgroundEmphasis: #829cf8;
  --calloutPrimarySubtleBackground: rgba(59, 94, 218, 0.129);
  --calloutPrimarySubtleBackgroundEmphasis: #acbdfb;
  --calloutSecondaryAccent: #6e7a88;
  --calloutSecondaryButtonBackground: #405163;
  --calloutSecondaryButtonBackgroundActive: #223243;
  --calloutSecondaryButtonForeground: #fff;
  --calloutSecondaryLabel: #0c1722;
  --calloutSecondaryProminentBackground: #d2d8de;
  --calloutSecondaryProminentBackgroundEmphasis: #a5adb6;
  --calloutSecondarySubtleBackground: rgba(110, 122, 136, 0.122);
  --calloutSecondarySubtleBackgroundEmphasis: #d2d8de;
  --calloutWarningAccent: #daac00;
  --calloutWarningButtonBackground: #f6c91d;
  --calloutWarningButtonBackgroundActive: #daac00;
  --calloutWarningButtonForeground: #362c05;
  --calloutWarningProminentBackground: #fbe48e;
  --calloutWarningProminentBackgroundEmphasis: #daac00;
  --calloutWarningProminentBackgroundLabel: #362c05;
  --calloutWarningSubtleBackground: #fef9ed;
  --calloutWarningSubtleBackgroundEmphasis: #fbe48e;
  --calloutWarningSubtleBackgroundLabel: #362c05;
  --categoryBalanceAlternateBorder: #000;
  --categoryBalanceAlternateNegativeBackground: #c72c1e;
  --categoryBalanceAlternateNegativeBackgroundActive: #962116;
  --categoryBalanceAlternateNegativeLabel: #feedeb;
  --categoryBalanceAlternateWarningBackground: #f6c91d;
  --categoryBalanceAlternateWarningBackgroundActive: #daac00;
  --categoryBalanceNegativeBackground: #faada5;
  --categoryBalanceNegativeBackgroundActive: #f77f73;
  --categoryBalanceNegativeLabel: #3c0d09;
  --categoryBalancePositiveBackground: #c1ee9f;
  --categoryBalancePositiveBackgroundActive: #a2e66e;
  --categoryBalancePositiveLabel: #1d300d;
  --categoryBalanceWarningBackground: #f8d655;
  --categoryBalanceWarningBackgroundActive: #f6c91d;
  --categoryBalanceWarningLabel: #362c05;
  --categoryBalanceZeroBackground: #edf1f5;
  --categoryBalanceZeroLabel: #6e7a88;
  --checkboxBackground: #fff;
  --checkboxBackgroundDisabled: #d2d8de;
  --checkboxBackgroundSelected: #3b5eda;
  --checkboxBorder: #6e7a88;
  --checkboxBorderSelected: #3b5eda;
  --checkboxForegroundSelected: #fff;
  --debtChartsFive: #84dd3e;
  --debtChartsFour: #f1fbe9;
  --debtChartsOne: #ecf0fe;
  --debtChartsSeven: #6d5600;
  --debtChartsSix: #fef9ed;
  --debtChartsThree: #587bf6;
  --debtChartsTwo: #d8e0fd;
  --fillHover: rgba(0, 0, 0, 0.102);
  --fillPrimary: rgba(110, 122, 136, 0.2);
  --fillQuarternary: rgba(110, 122, 136, 0.078);
  --fillSecondary: rgba(110, 122, 136, 0.161);
  --fillTertiary: rgba(110, 122, 136, 0.122);
  --filterBackground: #fff;
  --filterBackgroundActive: rgba(59, 94, 218, 0.129);
  --filterLabel: #3b5eda;
  --filterLabelDisabled: #acbdfb;
  --flagBlue: #5ac8fa;
  --flagGreen: #34c759;
  --flagOrange: #ff9500;
  --flagPurple: #af52de;
  --flagRed: #ff3b30;
  --flagYellow: #fc0;
  --headerBackground: #fff;
  --iconFillPrimary: #6e7a88;
  --iconFillSecondary: #a5adb6;
  --iconFillTertiary: #d2d8de;
  --iconTwotoneDark: #223243;
  --iconTwotoneLight: #6e7a88;
  --illustrationBackgroundBlurple200: #d8e0fd;
  --illustrationBackgroundBlurple300: #acbdfb;
  --illustrationBackgroundBlurple400: #829cf8;
  --illustrationBackgroundBlurple500: #587bf6;
  --illustrationBackgroundBlurple: #3b5eda;
  --illustrationBackgroundButtermilk: #fef9ed;
  --illustrationBackgroundDandelion: #f6c91d;
  --illustrationBackgroundSlime: #67c122;
  --inputBackground: #fff;
  --inputBackgroundDisabled: #edf1f5;
  --inputBorder: #d2d8de;
  --inputBorderActive: #3b5eda;
  --labelAction: #3b5eda;
  --labelActionActive: #374d9b;
  --labelActionDisabled: #acbdfb;
  --labelDarkBackgroundPrimary: #fff;
  --labelDarkBackgroundSecondary: #edf1f5;
  --labelHeading: #19223c;
  --labelNegative: #c72c1e;
  --labelNegativeActive: #962116;
  --labelNegativeDisabled: #fdd7d3;
  --labelPositive: #4d9119;
  --labelPositiveActive: #346011;
  --labelPrimary: #19223c;
  --labelQuaternary: #a5adb6;
  --labelSecondary: #405163;
  --labelTertiary: #6e7a88;
  --labelWarning: #6d5600;
  --loadingActionActive: #fff;
  --loadingBackground: #2c396a;
  --loadingShimmerBackground: #fff;
  --loadingShimmerBackgroundFaded: rgba(255, 255, 255, 0.8);
  --loanChartsPositive: #84dd3e;
  --loanChartsPrimary: #3b5eda;
  --loanChartsSecondary: #acbdfb;
  --loanChartsTertiary: #d2d8de;
  --loanChartsWarning: #f6c91d;
  --modalBackgroundAccent: #2c396a;
  --movesSelectedBackground: #3b5eda;
  --movesStandardBackground: #d8e0fd;
  --pillBackground: rgba(59, 94, 218, 0.129);
  --pillLabel: #3b5eda;
  --registerSecondaryButtonLabel: #3b5eda;
  --registerSecondaryButtonLabelActive: #374d9b;
  --reportsEight: #fbe48e;
  --reportsEleven: #d2d8de;
  --reportsFive: #84dd3e;
  --reportsFour: #829cf8;
  --reportsNetworthAssetsBackground: #587bf6;
  --reportsNetworthDebtsBackground: #fc6350;
  --reportsNine: #fc6350;
  --reportsOne: #587bf6;
  --reportsSeven: #f6c91d;
  --reportsSix: #c1ee9f;
  --reportsSpendingBreakdownTop10: #c1ee9f;
  --reportsSpendingBreakdownTop1: #3b5eda;
  --reportsSpendingBreakdownTop2: #84dd3e;
  --reportsSpendingBreakdownTop3: #f6c91d;
  --reportsSpendingBreakdownTop4: #fc6350;
  --reportsSpendingBreakdownTop5: #829cf8;
  --reportsSpendingBreakdownTop6: #a2e66e;
  --reportsSpendingBreakdownTop7: #f8d655;
  --reportsSpendingBreakdownTop8: #f77f73;
  --reportsSpendingBreakdownTop9: #acbdfb;
  --reportsSpendingBreakdownTopOther: #d8e0fd;
  --reportsTen: #faada5;
  --reportsThree: #374d9b;
  --reportsTwo: #acbdfb;
  --scrimDefault: rgba(0, 0, 0, 0.102);
  --scrimInvisible: rgba(0, 0, 0, 0);
  --scrimStrong: rgba(0, 0, 0, 0.659);
  --separatorStandard: #d2d8de;
  --separatorStrong: #405163;
  --separatorSubdued: rgba(0, 0, 0, 0.102);
  --settingsHeaderBackground: #fff;
  --sidebarAccountNegativeBalanceBackground: #fff;
  --sidebarBackground: #2c396a;
  --sidebarButtonBackgroundActive: #374d9b;
  --sidebarButtonBackgroundSelected: #374d9b;
  --sidebarButtonSecondaryBackground: rgba(255, 255, 255, 0.102);
  --sidebarButtonSecondaryBackgroundActive: #374d9b;
  --sidebarButtonSecondaryBackgroundPressed: rgba(0, 0, 0, 0.149);
  --sidebarButtonTertiaryBackground: rgba(255, 255, 255, 0.149);
  --sidebarButtonTertiaryBackgroundActive: rgba(255, 255, 255, 0.302);
  --sidebarButtonTertiaryBackgroundPressed: rgba(255, 255, 255, 0.349);
  --sidebarIconFillDefault: #fff;
  --sidebarLabelPrimary: #fff;
  --sidebarLabelSecondary: rgba(255, 255, 255, 0.8);
  --statusNegative: #c72c1e;
  --statusPositive: #67c122;
  --statusWarning: #f6c91d;
  --viewsErrorBackground: #faada5;
  --viewsErrorBackgroundHover: #f77f73;
  --viewsErrorBackgroundSelected: #feedeb;
  --viewsErrorBackgroundSelectedHover: #fdd7d3;
  --viewsErrorLabel: #3c0d09;
  --viewsErrorLabelSelected: #3c0d09;
  --viewsErrorSelectedAccent: #fc6350;
  --viewsNeutralBackground: #edf1f5;
  --viewsNeutralBackgroundHover: #d2d8de;
  --viewsNeutralBackgroundSelected: #d8e0fd;
  --viewsNeutralBackgroundSelectedHover: #acbdfb;
  --viewsNeutralSelectedAccent: #3b5eda;
  --viewsWarningBackground: #fbe48e;
  --viewsWarningBackgroundHover: #f8d655;
  --viewsWarningBackgroundSelected: #fdf1c6;
  --viewsWarningBackgroundSelectedHover: #fbe48e;
  --viewsWarningLabel: #362c05;
  --viewsWarningLabelSelected: #362c05;
  --viewsWarningSelectedAccent: #daac00;
}
