/* budget table header and container styles */
.budget-table-container {
  flex: 1;
  height: 100%;
}

.budget-table-header {
  height: 4.296875rem;
  letter-spacing: 0.0375rem;
}

.budget-table-container .budget-table-header {
  left: 0;
  position: absolute;
  top: 0;
  z-index: 1;
}

.budget-table,
.budget-table-header {
  display: block;
  min-width: 562px;
  width: 100%;
}

/* Categories */
.budget-table-row.is-master-category .budget-table-cell-name button.ftue-add-category-button {
  color: var(--calloutPrimaryLabel);
  background-color: var(--calloutPrimaryProminentBackground);
  border: 1px solid var(--calloutPrimaryAccent);
  border-radius: 1rem;
  align-items: center;
  display: flex;
  margin-left: 1rem;
  height: auto;
  padding: 0.25rem 0.5rem;
  vertical-align: inherit;
  width: auto;
}

.budget-table-container .budget-table-row-ul,
.budget-table-row.is-dragging {
  box-sizing: border-box;
  color: var(--labelPrimary);
  align-items: center;
  display: flex;
  height: 2.25rem;
  justify-content: stretch;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;
}

.budget-table-container .budget-table-row-ul.is-hidden,
.budget-table-row.is-dragging.is-hidden {
  display: none;
}

.budget-table-container .budget-table-row-li,
.budget-table-row.is-dragging .budget-table-row-li {
  box-sizing: border-box;
  align-items: center;
  display: flex;
  height: 2.25rem;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
  border-top: 1px solid var(--separatorStandard);
}

.budget-table-container .budget-table-cell-margin-left {
  width: 0.875rem;
}

.budget-table-container .budget-table-cell-margin-right {
  width: 1rem;
}

.budget-table-container .budget-table-cell-checkbox {
  align-items: center;
  display: flex;
  padding: 0 0.15rem 0 0.5rem;
}

.budget-table-container .budget-table-cell-collapse {
  font-size: 1rem;
  width: 1rem;
}

.budget-table-container .budget-table-cell-collapse button {
  align-items: center;
  display: flex;
  color: var(--labelSecondary);
}

.budget-table-container .budget-table-cell-name {
  flex: 1;
  justify-self: flex-start;
  padding-left: 0.1rem;
  width: auto;
}

.budget-table-container .budget-table-cell-name[role='columnheader'] {
  padding-left: 0.35rem;
}

.budget-table-container .budget-table-cell-budgeted {
  padding: 0 0 0 1rem;
}

.budget-table-container .budget-table-cell-activity,
.budget-table-container .budget-table-cell-available,
.budget-table-container .budget-table-cell-budgeted {
  justify-content: flex-end;
  text-align: right !important;
  width: 18%;
}

.budget-table-container .budget-table-cell-available {
  padding: 0 0 0 1rem;
}

.budget-table-container .budget-table-cell-activity {
  padding: 0 0 0 0.375rem;
}

.budget-table-container .budget-table-cell-flexed {
  display: flex;
  justify-content: space-between;
}

.budget-table-container .budget-table-cell-activity,
.budget-table-container .budget-table-cell-budgeted {
  overflow: hidden;
}

.budget-table-container .budget-table-header-labels,
.budget-table-container .budget-table-header-labels .budget-table-row-li,
.budget-table-container .is-master-category,
.budget-table-container .is-master-category .budget-table-row-li {
  height: 2.5rem;
}

.budget-table-container .budget-table-header-labels .budget-table-cell-budgeted,
.budget-table-container .is-master-category .budget-table-cell-budgeted {
  padding-right: 0.3rem;
}

.budget-table-container .budget-table-header-labels .budget-table-cell-available,
.budget-table-container .is-master-category .budget-table-cell-available {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 0.4rem;
}

.budget-table-container .budget-table-uncategorized-transactions .budget-table-cell-budgeted {
  padding-right: 0.3rem;
}

.budget-table-container .budget-table-row-ul.budget-table-row:first-child .budget-table-row-li,
.budget-table-container.is-expanded
  .budget-table-row-ul.budget-table-row:first-child
  .budget-table-row-li.budget-table-cell-margin {
  border: 0;
}

.budget-table-container .budget-table-row.is-master-category .budget-table-row-li,
.budget-table-container .is-master-category + .is-sub-category .budget-table-row-li {
  border-top: 1px solid var(--separatorStandard);
}

.budget-table-container .budget-table-header .budget-table-row-li {
  border-top: none;
  border-bottom: 1px solid var(--separatorStandard);
}

.budget-table-container.zero-visible-categories .budget-table-header .budget-table-row-li {
  border-bottom: none;
}

.budget-table-container .budget-table-cell-checkbox {
  justify-content: start;
  overflow: visible;
  transition-property: none;
}

.budget-table-container .budget-table-cell-name {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
}

.budget-table-container .budget-table-cell-name .budget-table-cell-edit-category {
  overflow: hidden;
  padding: 0 0.25rem;
  text-overflow: ellipsis;
  white-space: pre;
}

.budget-table-container .budget-table-cell-name .budget-table-cell-add-category {
  margin-left: 0.1rem;
}

.budget-table-container .budget-table-cell-name .budget-table-cell-add-category .ynab-new-icon {
  margin: 0 0.3rem;
}

.budget-table-container .budget-table-hidden-row .budget-table-cell-edit-category {
  white-space: normal;
}

.budget-table-container a {
  color: var(--labelPrimary);
  text-decoration: none;
}

.budget-table-container .budget-separator {
  height: 0.5rem;
}

.budget-table-container.is-expanded .budget-table-cell-activity,
.budget-table-container.is-expanded .budget-table-cell-available,
.budget-table-container.is-expanded .budget-table-cell-budgeted {
  width: 15%;
}

.budget-table-container.is-expanded .budget-table-row-ul.is-sub-category,
.budget-table-container.is-expanded .budget-table-row-ul.is-sub-category .budget-table-row-li {
  height: 2.75rem;
}

.budget-table-container.is-expanded .budget-table-row-ul.is-sub-category .budget-table-cell-button,
.budget-table-container.is-expanded .budget-table-row-ul.is-sub-category .budget-table-cell-button button {
  cursor: default;
}

.budget-table-container.is-expanded .budget-table-row-ul.is-sub-category .budget-table-cell-button button:hover,
.budget-table-container.is-expanded .budget-table-row-ul.is-sub-category .budget-table-cell-button:hover,
a.button {
  text-decoration: none;
}

.budget-table-container.is-expanded .budget-table-row-ul.is-sub-category .budget-table-cell-edit-category {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  width: 100%;
}

.budget-table-container.is-expanded .budget-table-row-ul.is-sub-category .budget-table-cell-edit-category-label button {
  padding: 0.1rem 0.25rem;
}

.budget-table-container.is-expanded
  .budget-table-row-ul.is-sub-category
  .budget-table-cell-edit-category-label
  button:focus-visible {
  outline-offset: -1px;
}

.budget-table-container.is-expanded
  .budget-table-row-ul.is-sub-category
  .budget-table-cell-edit-category-label
  .budget-table-cell-goal-status,
.budget-table-container.is-expanded .budget-table-row-ul.is-sub-category .budget-table-cell-edit-category-label button {
  line-height: 1.2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.budget-table-container.is-expanded
  .budget-table-row-ul.is-sub-category.is-checked
  .budget-table-cell-edit-category-label
  button:hover {
  cursor: pointer;
  text-decoration: underline;
}

.budget-table-container.is-expanded .budget-table-row-ul.is-sub-category .budget-table-row-li.budget-table-cell-margin {
  border-top: 1px solid var(--separatorStandard);
}

.budget-table-container.is-expanded .budget-table-cell-edit-category-label {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  max-height: 1.25rem;
  overflow: hidden;
  width: 100%;
}

.budget-table-container.is-expanded .ynab-new-budget-bar-v2 {
  margin: 0.25rem 0.25rem 0.2rem;
  width: auto;
}

.budget-table-container.is-expanded .budget-table-cell-goal-nowrap {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  overflow: hidden;
}

.budget-table-container.is-expanded .budget-table-cell-goal-gap {
  flex-grow: 1;
  width: 0.5rem;
}

.budget-table-container.is-expanded .budget-table-cell-goal-status,
.budget-table-container.is-expanded .budget-table-cell-goal-status-details {
  cursor: default;
  color: var(--labelSecondary);
  line-height: 1.2rem;
  white-space: nowrap;
  width: max-content;
}

.budget-table-container.is-expanded .budget-table-cell-goal-status-details {
  white-space: pre;
}

.budget-table-container.is-expanded .budget-table-cell-goal-status-zero-needed {
  color: var(--labelTertiary);
}

.budget-table-header-labels .budget-table-cell-button,
.budget-table-row .budget-table-cell-button {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  color: var(--labelPrimary);
  cursor: pointer;
  box-shadow: none;
  line-height: 1.2rem;
  padding: 0;
}

.budget-table-header-labels .budget-table-cell-button:hover,
.budget-table-row .budget-table-cell-button:hover {
  background-color: transparent;
  color: var(--labelPrimary);
}

.budget-table-header-labels.is-checked .budget-table-cell-button:hover,
.budget-table-row.is-checked .budget-table-cell-button:hover {
  text-decoration: underline;
}

.budget-table-header-labels .budget-table-cell-activity,
.budget-table-header-labels .budget-table-cell-available,
.budget-table-header-labels .budget-table-cell-budgeted,
.budget-table-row .budget-table-cell-activity,
.budget-table-row .budget-table-cell-available,
.budget-table-row .budget-table-cell-budgeted {
  text-align: right;
}

.budget-table-header-labels .budget-table-cell-activity .budget-number,
.budget-table-header-labels .budget-table-cell-available .budget-number,
.budget-table-header-labels .budget-table-cell-budgeted .budget-number,
.budget-table-row .budget-table-cell-activity .budget-number,
.budget-table-row .budget-table-cell-available .budget-number,
.budget-table-row .budget-table-cell-budgeted .budget-number {
  cursor: pointer;
  max-width: 100%;
}

.budget-table-header-labels .budget-table-cell-activity .budget-number[aria-disabled='true'],
.budget-table-header-labels .budget-table-cell-available .budget-number[aria-disabled='true'],
.budget-table-header-labels .budget-table-cell-budgeted .budget-number[aria-disabled='true'],
.budget-table-row .budget-table-cell-activity .budget-number[aria-disabled='true'],
.budget-table-row .budget-table-cell-available .budget-number[aria-disabled='true'],
.budget-table-row .budget-table-cell-budgeted .budget-number[aria-disabled='true'] {
  cursor: default;
}

.budget-table-header-labels .budget-table-cell-activity .budget-table-cell-available-div,
.budget-table-header-labels .budget-table-cell-available .budget-table-cell-available-div,
.budget-table-header-labels .budget-table-cell-budgeted .budget-table-cell-available-div,
.budget-table-row .budget-table-cell-activity .budget-table-cell-available-div,
.budget-table-row .budget-table-cell-available .budget-table-cell-available-div,
.budget-table-row .budget-table-cell-budgeted .budget-table-cell-available-div {
  max-width: 100%;
}

.budget-table-header-labels .budget-table-cell-activity span.currency,
.budget-table-header-labels .budget-table-cell-available span.currency,
.budget-table-header-labels .budget-table-cell-budgeted span.currency,
.budget-table-row .budget-table-cell-activity span.currency,
.budget-table-row .budget-table-cell-available span.currency,
.budget-table-row .budget-table-cell-budgeted span.currency {
  display: block;
  line-height: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.budget-table-header-labels .budget-table-cell-activity span.currency i,
.budget-table-header-labels .budget-table-cell-available span.currency i,
.budget-table-header-labels .budget-table-cell-budgeted span.currency i,
.budget-table-row .budget-table-cell-activity span.currency i,
.budget-table-row .budget-table-cell-available span.currency i,
.budget-table-row .budget-table-cell-budgeted span.currency i {
  font-size: 0.85rem;
  line-height: 0.85rem;
  margin-left: -0.2rem;
}

.budget-table-container .budget-table-header {
  background-color: var(--backgroundTableRow);
  height: 5.5rem;
  position: -webkit-sticky;
  position: sticky;
}

.budget-table-container .budget-table-header .budget-table-header-labels {
  cursor: default;
  height: 2.5rem;
}

.budget-table-container .budget-table-header .budget-table-row-li:not(.budget-table-cell-collapse) {
  color: var(--labelSecondary);
}

.budget-table-container .budget-table-header .budget-table-cell-name.cc-header {
  overflow: visible;
}

.budget-table-container .budget-table-header .budget-table-cell-name.cc-header button {
  border: 0;
  color: var(--actionPrimary);
  font-size: 1.2rem;
  margin-left: -1.2rem;
  padding: 0;
}

.budget-table-container .budget-table-header .budget-table-cell-name.cc-header button:hover {
  background-color: transparent;
}

.budget-table-container .budget-table-header .budget-table-cell-available {
  font-weight: 700;
  padding-right: 0.4rem;
}

.clear-budget-filter {
  color: var(--labelSecondary);
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 3rem;
  text-align: center;
}

.clear-budget-filter .button {
  color: var(--actionPrimary);
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}

.clear-budget-filter .button:hover:enabled {
  color: var(--actionPrimaryActive);
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}

.clear-budget-filter hr {
  margin-top: 0;
}

.budget-table-row.is-sub-category.budget-table-uncategorized-transactions.is-checked .budget-table-cell-name {
  color: var(--labelDarkBackgroundPrimary);
}

.budget-table-row.is-sub-category.budget-table-uncategorized-transactions .budget-table-cell-name {
  color: var(--labelWarning);
}

.budget-table-cell-name-row-label-item {
  flex: 0 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.budget-table-row.is-master-category {
  background-color: var(--backgroundTableHeader);
}

.budget-table-row.is-master-category .budget-table-cell-checkbox {
  transition-property: all;
}

.budget-table-row.is-master-category .budget-table-cell-button {
  color: var(--labelHeading);
}

.budget-table-row.is-master-category .budget-table-cell-name {
  color: var(--labelHeading);
  font-weight: 700;
}

.budget-table-row.is-master-category .budget-table-cell-name .budget-table-cell-edit-category {
  max-width: calc(100% - 1.8375rem);
  background-color: transparent;
  border: 0;
  color: var(--labelHeading);
  box-shadow: none;
}

.budget-table-row.is-master-category .budget-table-cell-name .budget-table-cell-name-row-label-item {
  padding-left: 0.036em;
}

.budget-table-row.is-master-category .budget-table-row-li:first-child {
  background-color: transparent;
}

.budget-table-row.is-master-category .budget-table-row-li:first-child .budget-table-cell-name {
  font-size: 1.2em;
  padding-left: 0.3em;
}

.budget-table-row.is-master-category .budget-table-cell-add-category {
  color: var(--backgroundTableHeader);
  align-items: center;
  display: flex;
  opacity: 0;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
  filter: alpha(opacity=0);
  vertical-align: inherit;
}

.budget-table-row.is-master-category .budget-table-cell-add-category .ynab-new-icon {
  color: var(--actionPrimary);
}

.budget-table-row.is-master-category .budget-table-cell-add-category .ynab-new-icon:hover {
  color: var(--actionPrimaryActive);
}

.budget-table-row.is-master-category .budget-table-cell-activity .ynab-new-budget-available-number,
.budget-table-row.is-master-category .budget-table-cell-available .ynab-new-budget-available-number,
.budget-table-row.is-master-category .budget-table-cell-budgeted .ynab-new-budget-available-number {
  background-color: transparent;
  color: var(--labelHeading);
  padding: 0;
  right: auto;
}

.budget-table-row.is-master-category .budget-number[aria-disabled='true'] {
  color: var(--labelHeading);
}

.budget-table-row.is-master-category .budget-table-cell-name {
  line-height: 2.2rem;
}

.budget-table-row.is-master-category .budget-table-cell-name .budget-table-cell-name-row-label-item,
.budget-table-row.is-master-category.budget-table-hidden-row .budget-table-cell-name {
  padding-top: 0;
}

.budget-table-row.is-master-category .budget-table-cell-activity,
.budget-table-row.is-master-category .budget-table-cell-available,
.budget-table-row.is-master-category .budget-table-cell-budgeted {
  color: var(--labelHeading);
  line-height: inherit;
  line-height: 0.815rem;
}

.budget-table-cell-add-category.active {
  display: inline;
  padding-left: 0.4em;
}

.budget-table-cell-add-category.active .ynab-new-icon,
.budget-table-row.is-sub-category {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}

.budget-table-row.is-sub-category {
  background-color: var(--backgroundTableRow);
  transition: height 0.15s ease-out;
}

.budget-table-row.is-sub-category.is-checked .budget-table-cell-budgeted .currency,
.budget-table-row.is-sub-category.is-checked .budget-table-cell-budgeted:hover .currency {
  color: var(--labelPrimary);
}

.budget-table-row.is-sub-category > .budget-table-cell-budgeted:hover .ynab-new-currency-input {
  border: 0.0625rem solid var(--actionPrimary);
  background-color: var(--backgroundPrimary);
}

.budget-table-row.is-sub-category > .budget-table-cell-budgeted > button {
  border-radius: 0.5rem;
  border: 0.0625rem solid transparent;
  height: 1.5rem;
  padding: 0.1875rem;
  text-align: right;
  width: 100%;
}

.budget-table-row.is-sub-category > .budget-table-cell-budgeted > button:hover {
  background-color: var(--backgroundTableRow);
  border: 0.0625rem solid var(--inputBorderActive);
  color: var(--labelPrimary);
}

.budget-table-row.is-sub-category .budget-number[aria-disabled='true'],
.budget-table-row.is-sub-category.is-checked .budget-table-cell-activity .currency.zero,
.budget-table-row.is-sub-category.is-checked .budget-table-cell-budgeted .currency.zero,
.budget-table-row.is-sub-category.is-checked .budget-table-cell-budgeted:hover .currency.zero,
.budget-table-row.is-sub-category > .budget-table-cell-budgeted .currency.zero {
  color: var(--labelSecondary);
}

.budget-table-row.is-sub-category .budget-table-row-li {
  padding-top: 0;
}

.budget-table-row.is-sub-category > .budget-table-cell-available {
  padding: 5px 0;
}

.drag-placeholder,
.drag-placeholder-closing {
  clear: both;
  width: 100%;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  animation-duration: 0.15s;
  animation-iteration-count: 1;
}

.drag-placeholder {
  animation-name: collapsed-budget-row-open;
}

.drag-placeholder-closing {
  animation-name: collapsed-budget-row-close;
}

.budget-table-container.is-expanded .drag-placeholder {
  animation-name: expanded-budget-row-open;
}

.budget-table-container.is-expanded .drag-placeholder-closing {
  animation-name: expanded-budget-row-close;
}

.budget-table .drag-placeholder,
.budget-table .drag-placeholder-closing {
  background-color: var(--separatorStandard);
}

.budget-table-row.is-master-category:hover .budget-table-cell-add-category,
.budget-table-row.is-sub-category > .budget-table-cell-budgeted:hover .ynab-new-currency-input .button-calculator {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}

.budget-table-row.is-master-category .budget-table-cell-add-category:focus-visible,
.radio input[type='radio']:focus-visible + span:after {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}

.budget-table-row.is-checked:not(.is-master-category) {
  background-color: var(--backgroundTableRowSelected);
  color: var(--labelPrimary);
}

.budget-table-row.is-checked:not(.is-master-category) .budget-table-row-li:first-child {
  background-color: transparent;
}

.budget-table-row.is-checked:not(.is-master-category) .budget-table-cell-activity .budget-number,
.budget-table-row.is-checked:not(.is-master-category) .budget-table-cell-add-category .ynab-new-icon,
.budget-table-row.is-checked:not(.is-master-category) .budget-table-cell-edit-category-label button,
.budget-table-row.is-checked:not(.is-master-category) .budget-table-cell-name .button,
.budget-table-row.is-checked:not(.is-master-category) .status {
  color: var(--labelPrimary);
}

.budget-table-row.is-checked:not(.is-master-category)
  .budget-table-cell-edit-category-label
  .budget-table-cell-goal-status,
.budget-table-row.is-checked:not(.is-master-category)
  .budget-table-cell-edit-category-label
  .budget-table-cell-goal-status-details {
  color: var(--labelSecondary);
}

.budget-table-row.is-checked:not(.is-master-category) .ynab-new-budget-bar-v2-section {
  background-color: var(--budgetBarBackgroundOnNonWhite);
}

.budget-table-container.is-expanded .budget-table-row-ul.is-sub-category.budget-table-row.is-original-dragging,
.budget-table-row-ul.budget-table-row.is-original-dragging {
  height: 0;
  opacity: 0.5;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=50)';
  filter: alpha(opacity=50);
  transition: height 0.15s ease-out;
}

.budget-table-container .budget-table-row-ul.budget-table-row.is-original-dragging.is-original-hover {
  height: 2.25rem;
}

.budget-table-container.is-expanded .budget-table-row-ul.budget-table-row.is-original-dragging.is-original-hover {
  height: 2.75rem;
}

.budget-table-row.is-dragging {
  background-color: var(--backgroundPrimary);
  opacity: 1;
  -ms-filter: none;
  filter: none;
}

.budget-table-container .budget-table.master-category-is-dragging .budget-table-row-ul.budget-table-hidden-row,
.budget-table-container .budget-table.master-category-is-dragging .budget-table-row-ul.is-sub-category {
  border-top: none;
  height: 0;
  opacity: 0;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
  filter: alpha(opacity=0);
  transition:
    opacity 0.25s,
    height 0.15s ease-in-out 0.25s,
    border-top 0.1s ease-in-out 0.25s;
}

.budget-number {
  padding-right: 0.1em;
}

.budget-number:hover {
  color: var(--actionPrimary);
  text-decoration: underline;
}

.budget-number[aria-disabled='true'] {
  cursor: default;
  text-decoration: none;
}

.budget-table-row .budget-table-cell-available .currency.zero,
.budget-table-row.is-master-category .budget-table-cell-available .currency.negative,
.budget-table-row.is-master-category .budget-table-cell-available .currency.positive,
.budget-table-row.is-master-category .budget-table-cell-available-div,
.budget-table-uncategorized-transactions .budget-table-cell-available .budget-table-cell-available-div,
.budget-table-uncategorized-transactions .budget-table-cell-button,
.is-master-category .budget-table-cell-budgeted .currency {
  cursor: default;
}

.budget-table-cell-budgeted .currency {
  cursor: text;
}

.accounts-header .accounts-header-payment span.currency.negative,
.budget-table-row .budget-table-cell-available .currency {
  cursor: pointer;
}

.budget-table-row.is-debt-payment-category .budget-table-cell-available .budget-table-cell-available-payment {
  align-items: center;
  display: flex;
  letter-spacing: 0.05rem;
}

.budget-table-row.is-debt-payment-category
  .budget-table-cell-available
  .budget-table-cell-available-payment
  .ynab_new_icon {
  margin-right: 0.125rem;
}

.budget-table-row.budget-table-uncategorized-transactions > .budget-table-cell-available .positive:hover {
  background-color: var(--categoryBalancePositiveBackground);
}

.budget-table-row.budget-table-uncategorized-transactions > .budget-table-cell-available .cautious:hover {
  background-color: var(--categoryBalanceWarningBackground);
}

.budget-table-row.budget-table-uncategorized-transactions > .budget-table-cell-available .cautious:hover.alternative {
  background-color: var(--categoryBalanceAlternateWarningBackground);
}

.budget-table-row.budget-table-uncategorized-transactions > .budget-table-cell-available .negative:hover {
  background-color: var(--categoryBalanceNegativeBackground);
}

.budget-table-row.budget-table-uncategorized-transactions > .budget-table-cell-available .negative:hover.alternative {
  background-color: var(--categoryBalanceAlternateNegativeBackground);
}

/* Master Category Checkbox */
.ynab-checkbox {
  align-items: center;
  cursor: default;
  display: flex;
  gap: 0.25rem;
  justify-content: flex-start;
  padding: 0.125rem;
}

.ynab-checkbox.is-disabled .ynab-checkbox-button-square {
  background-color: var(--checkboxBackgroundDisabled);
  color: var(--checkboxBackgroundDisabled);
}

.ynab-checkbox-button-square,
.ynab-checkbox.is-disabled .ynab-checkbox-button-square.is-checked {
  border: 1px solid var(--checkboxBorder);
  color: var(--checkboxForegroundSelected);
}

.ynab-checkbox-button-square {
  background-color: var(--checkboxBackground);
  color: var(--checkboxBackground);
  border-radius: 0.1875rem;
  padding: 0.125rem;
}

.ynab-checkbox-button-square.is-checked,
.ynab-checkbox-button-square.is-partial {
  background-color: var(--checkboxBackgroundSelected);
  border: 1px solid var(--checkboxBorderSelected);
  color: var(--checkboxForegroundSelected);
}

/* HIDE CLOCK ICON */
.budget-table-cell-category-moves[aria-hidden='true'] {
  cursor: auto;
  opacity: 0;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
  filter: alpha(opacity=0);
}

/* INPUT WRAPPER */
.ynab-new-currency-input {
  border: 0.0625rem solid transparent;
  display: flex;
  justify-content: space-between;
  border-radius: 0.25rem;
  height: 1.5rem;
  text-align: right;
  width: 100%;
}

.ynab-new-currency-input:not(.is-disabled):hover {
  border: 0.0625rem solid var(--inputBorderActive);
}

.ynab-new-currency-input:not(.is-disabled):hover .button-calculator {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}

.ynab-new-currency-input.is-focused .button-calculator {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}

.ynab-new-currency-input.is-disabled {
  cursor: default;
  opacity: 0.6;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=60)';
  filter: alpha(opacity=60);
}

.ynab-new-currency-input.is-disabled button {
  pointer-events: none;
}

.ynab-new-currency-input .button-calculator {
  cursor: pointer;
  flex: 0 0 auto;
  opacity: 0;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
  filter: alpha(opacity=0);
  width: 1.125rem;
}

.ynab-new-currency-input .button-calculator:hover .icon-calculator {
  fill: var(--actionPrimary);
}

.ynab-new-currency-input .icon-calculator {
  height: 1rem;
  width: 1rem;
  fill: var(--iconFillSecondary);
  margin: 0.125rem 0 0 0.125rem;
  stroke: none;
}

.ynab-new-currency-input .input-wrapper {
  align-items: center;
  display: flex;
  flex: 1 1 auto;
  width: calc(100% - 1.125rem);
}

.ynab-new-currency-input .input-wrapper input {
  background: 0 0;
  border-color: transparent;
  border-radius: 0.25rem;
  border-width: 0;
  display: none;
  font-weight: 500;
  height: 100%;
  margin: 0;
  padding: 0 0.1875rem;
  text-align: right;
  width: 100%;
}

.ynab-new-currency-input .input-wrapper .currency {
  display: block;
  padding: 0.1875rem;
}

.ynab-new-currency-input .input-wrapper button {
  padding: 0.1875rem;
  text-align: right;
  width: 100%;
}

.ynab-new-currency-input .modal-calculator {
  background-color: transparent;
}

.ynab-new-currency-input .modal-calculator .modal {
  height: 5.25rem;
  width: 5.25rem;
}

.ynab-new-currency-input.is-editing {
  border: 0.0625rem solid var(--inputBorderActive);
  background-color: var(--backgroundPrimary);
}

.ynab-new-currency-input.is-editing .input-wrapper input {
  display: block;
}

.ynab-new-currency-input.is-editing .input-wrapper .currency {
  display: none;
}

.ynab-new-currency-input.text-input {
  border-color: var(--inputBorder);
  background-color: var(--inputBackground);
}

.ynab-new-currency-input.text-input:focus-within {
  border-color: var(--inputBorderActive);
}

.ynab-new-currency-input.mod-left-aligned {
  flex-direction: row-reverse;
}

.ynab-new-currency-input.mod-left-aligned .button-calculator {
  width: 1.4rem;
}

.ynab-new-currency-input.mod-left-aligned .icon-calculator {
  margin: 0.125rem 0.125rem 0 0;
}

.ynab-new-currency-input.mod-left-aligned .currency,
.ynab-new-currency-input.mod-left-aligned .input-wrapper input {
  padding-left: 0.5rem;
  text-align: left;
}

.ynab-new-currency-input.legacy-currency-input {
  border: 0;
  height: auto;
}

.ynab-new-currency-input.legacy-currency-input.is-editing,
.ynab-new-currency-input.legacy-currency-input:hover {
  border: 0;
}

.ynab-new-currency-input.legacy-currency-input input {
  border-width: 0.0625rem;
  padding: 0 0.5rem;
}

/* Budget pills */
.ynab-new-budget-available-number {
  display: flex;
  border-radius: 1000px;
  color: var(--labelDarkBackgroundPrimary);
  padding: 0.125rem 0.4375rem;
  position: relative;
  transition-property: none;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media only screen and (max-resolution: 1dppx) {
  .ynab-new-budget-available-number span {
    margin-top: 2px;
  }
}

.ynab-new-budget-available-number.positive {
  background-color: var(--categoryBalancePositiveBackground);
  color: var(--categoryBalancePositiveLabel);
}

.ynab-new-budget-available-number.positive:hover {
  background-color: var(--categoryBalancePositiveBackgroundActive);
}

.ynab-new-budget-available-number.positive .icon-circle-progress .inner,
.ynab-new-budget-available-number.positive .icon-snooze {
  fill: var(--categoryBalancePositiveLabel);
}

.ynab-new-budget-available-number.positive .icon-circle-progress .outer {
  fill: none;
  stroke: var(--categoryBalancePositiveLabel);
}

.ynab-new-budget-available-number.negative {
  background-color: var(--categoryBalanceNegativeBackground);
  color: var(--categoryBalanceNegativeLabel);
}

.ynab-new-budget-available-number.negative.alternative {
  background-color: var(--categoryBalanceAlternateNegativeBackground);
  color: var(--categoryBalanceAlternateNegativeLabel);
  border: 1px solid var(--categoryBalanceAlternateBorder);
}

.ynab-new-budget-available-number.negative.alternative:hover,
.ynab-new-budget-available-number.negative:hover.alternative {
  background-color: var(--categoryBalanceAlternateNegativeBackgroundActive);
}

.ynab-new-budget-available-number.negative:hover {
  background-color: var(--categoryBalanceNegativeBackgroundActive);
}

.ynab-new-budget-available-number.negative .icon-circle-progress .inner {
  fill: var(--categoryBalanceNegativeLabel);
}

.ynab-new-budget-available-number.negative .icon-circle-progress .outer {
  fill: none;
  stroke: var(--categoryBalanceNegativeLabel);
}

.ynab-new-budget-available-number.cautious {
  background-color: var(--categoryBalanceWarningBackground);
  color: var(--categoryBalanceWarningLabel);
}

.ynab-new-budget-available-number.cautious.alternative {
  background-color: var(--categoryBalanceAlternateWarningBackground);
  border: 1px solid var(--categoryBalanceAlternateBorder);
}

.ynab-new-budget-available-number.cautious.alternative:hover,
.ynab-new-budget-available-number.cautious:hover.alternative {
  background-color: var(--categoryBalanceAlternateWarningBackgroundActive);
}

.ynab-new-budget-available-number.cautious:hover {
  background-color: var(--categoryBalanceWarningBackgroundActive);
}

.ynab-new-budget-available-number.cautious .icon-circle-progress .inner {
  fill: var(--categoryBalanceWarningLabel);
}

.ynab-new-budget-available-number.cautious .icon-circle-progress .outer {
  fill: none;
  stroke: var(--categoryBalanceWarningLabel);
}

.ynab-new-budget-available-number.zero {
  background-color: var(--categoryBalanceZeroBackground);
  color: var(--categoryBalanceZeroLabel);
}

.ynab-new-budget-available-number.zero .icon-circle-progress .inner,
.ynab-new-budget-available-number.zero .icon-snooze {
  fill: var(--categoryBalanceZeroLabel);
}

.ynab-new-budget-available-number.zero .icon-circle-progress .outer {
  fill: none;
  stroke: var(--categoryBalanceZeroLabel);
}

.ynab-new-budget-available-number.cautious.credit svg,
.ynab-new-budget-available-number.cautious.upcoming svg {
  margin: auto;
  margin-right: 0.35rem;
  position: relative;
  fill: var(--categoryBalanceWarningLabel);
}

.ynab-new-budget-available-number svg {
  margin-right: 0.35rem;
}

.ynab-new-budget-available-number .icon-snooze {
  padding: 0.125rem;
}

.ynab-new-budget-available-number .icon-circle-progress {
  margin: auto;
  margin-left: -0.15rem;
  margin-right: 0.35rem;
  position: relative;
}

/* Removing focus outline */
button:focus {
  outline-color: var(--actionPrimary);
  outline: 0;
}

.x-select-container select:focus,
input:focus {
  border: 0.0625rem solid var(--inputBorderActive);
  outline: 0;
}

/* Budget toolbar */
.budget-toolbar {
  background-color: var(--headerBackground);
  border-bottom: 1px solid var(--separatorStandard);
  align-items: center;
  display: flex;
  height: 3rem;
  padding-left: 0.5rem;
}

.budget-toolbar [role='cell'] {
  z-index: 1;
}

.budget-toolbar [role='cell']:last-child {
  margin-left: auto;
  margin-right: 1rem;
}

.budget-toolbar .ynab-new-icon {
  height: 0.8rem;
  width: 0.8rem;
}

.budget-toolbar .button {
  color: var(--actionPrimary);
  border-radius: 0;
  border: 0;
  padding: 0 0.5rem 0 1rem;
  box-shadow: none;
  align-items: center;
  display: flex;
}

.budget-toolbar .button,
.budget-toolbar .button:hover {
  background-color: transparent;
}

.budget-toolbar .button:hover,
.budget-toolbar .button:hover .ynab-new-icon {
  color: var(--actionPrimaryActive);
}

.budget-toolbar .undo-redo-container {
  display: flex;
}

.budget-toolbar .button-disabled {
  pointer-events: none;
}

.budget-toolbar .button-disabled:hover {
  background-color: transparent;
  color: var(--labelSecondary);
}

.budget-toolbar .button-disabled:hover .ynab-new-icon {
  color: var(--labelSecondary);
}

/* Budget table container budget bar */
.budget-table-container.is-expanded .ynab-new-budget-bar-v2 {
  margin: 0.25rem 0.25rem 0.2rem;
  width: auto;
}

.budget-table-row.is-checked:not(.is-master-category) .ynab-new-budget-bar-v2-section {
  background-color: var(--budgetBarBackgroundOnNonWhite);
}

/* Budget bar */
.ynab-new-budget-bar-v2 {
  display: flex;
  flex: 1 1 auto;
  justify-content: space-between;
  width: 100%;
}

.ynab-new-budget-bar-v2-section {
  background-color: var(--budgetBarBackground);
  box-shadow: inset 0 0 0 0.0625rem var(--budgetBarBorder);
  display: flex;
  flex: 1 1 auto;
  height: 0.25rem;
  justify-content: flex-start;
  margin: 0 0.25rem 0 0;
  overflow: hidden;
}

.ynab-new-budget-bar-v2-section:only-child {
  border-radius: 1rem;
}

.ynab-new-budget-bar-v2-section:last-child {
  margin-right: 0;
}

.ynab-new-budget-bar-v2-section-funded:first-child {
  border-radius: 1rem 0 0 1rem;
}

.ynab-new-budget-bar-v2-section-funded:last-of-type {
  border-radius: 0 1rem 1rem 0;
}

.ynab-new-budget-bar-v2-section-funded:only-child {
  border-radius: 1rem;
}

.ynab-new-budget-bar-v2-section-over-target-spending {
  border-radius: 1rem;
}

.ynab-new-budget-bar-v2-segment {
  flex: 0 0 auto;
  transition: 0.3s width ease-out;
}

.ynab-new-budget-bar-v2-segment.is-partially-funded {
  background-color: var(--budgetBarUnderfunded);
}

.ynab-new-budget-bar-v2-segment.is-fully-funded {
  background-color: var(--budgetBarFunded);
}

.ynab-new-budget-bar-v2-segment.is-partially-funded-spending {
  background: repeating-linear-gradient(
    135deg,
    var(--budgetBarUnderfundedSpending),
    var(--budgetBarUnderfundedSpending) 5px,
    var(--budgetBarUnderfundedSpendingStripe) 5px,
    var(--budgetBarUnderfundedSpendingStripe) 6px
  );
}

.ynab-new-budget-bar-v2-segment.is-fully-funded-spending {
  background: repeating-linear-gradient(
    135deg,
    var(--budgetBarFundedSpending),
    var(--budgetBarFundedSpending) 5px,
    var(--budgetBarFundedSpendingStripe) 5px,
    var(--budgetBarFundedSpendingStripe) 6px
  );
}

.ynab-new-budget-bar-v2-segment.is-overspent {
  background: repeating-linear-gradient(
    135deg,
    var(--budgetBarOverspending),
    var(--budgetBarOverspending) 5px,
    var(--budgetBarOverspendingStripe) 5px,
    var(--budgetBarOverspendingStripe) 6px
  );
}

.ynab-new-budget-bar-v2-segment.is-assigned {
  background-color: var(--actionPrimary);
}

.budget-breakdown .budget-inspector-next-payment .container .container-body .ynab-new-budget-bar-v2-section {
  height: 0.25rem;
  margin: 1rem 0;
  background-color: var(--budgetBarBackground);
}

/* Budget toolbar Undo Redo Container */
.budget-toolbar .undo-redo-container {
  display: flex;
}

div.accounts-toolbar .undo-redo-container {
  margin: 0 0 0 1rem;
  padding: 0;
}

div.accounts-toolbar .undo-redo-container {
  align-items: center;
  display: flex;
  white-space: nowrap;
}

.modal-account-overflow-menu .modal-content,
.modal-account-overflow-menu .undo-redo-container {
  display: flex;
  flex-direction: column;
}

/* Budget table and inspector */
.budget-table-and-inspector {
  display: flex;
  height: calc(100% - 5.625rem);
  width: 100%;
}

.has-budget-views .budget-table-and-inspector {
  height: calc(100% - 7.9rem);
}
